@charset "utf-8";

:root {
  /* color */
  --black-color: #000;
  --white-color: #fff;
  --hover-color: #ccc;

  /* background */
  --nav_bg: #f6fdff;
  --title_bg: #eaf7fd;

  /* blue */
  --blue1: #51b0dc;
  --blue2: #4a9abf;
  --blue3: #51b0dc;
  --blue4: #3192df;
  --blue5: #25a2d0;
  --blue6: #25aad0;
  --blue7: #0093bd;
  --blue8: #3192bf;
}

body {
  color: var(--black-color);

  font-size: 13px;
  font-weight: normal;

  background: url(../img/header_bg.jpg) repeat-x center top;
}

/* Layout */
#header {
  font-family: "Abel", sans-serif;
}

#nav {
  background: var(--nav_bg);
}

#title {
  font-family: "Nanum Brush Script", cursive;

  background: var(--title_bg);
}

/* Container */
.container {
  width: 1200px;
  margin: 0 auto;

  /* background: rgba(0, 0, 0, 0.3); */
}

/* header */
.header {
  height: 327px;
}

/* header menu */
.header .header_menu {
  text-align: right;
}

.header .header_menu a {
  display: inline-block;

  color: var(--white-color);

  padding: 8px 0px 6px 10px;

  transition: color 0.3s ease;
}

.header .header_menu a:hover {
  color: var(--hover-color);
}

/* header title */
.header .header_tit {
  text-align: center;
  text-transform: uppercase;

  margin-top: 55px;
}

.header .header_tit h1 {
  display: inline-block;

  color: var(--white-color);

  font-size: 30px;
  font-weight: 900;

  letter-spacing: 2px;

  padding: 5px 30px;

  background: var(--blue1);

  transition: box-shadow 0.25s ease-in-out;
}

.header .header_tit h1:hover {
  box-shadow: inset -9em 0 0 0 #257fac, inset 9em 0 0 0 #257fac;
}

.header .header_tit a {
  display: inline-block;

  color: var(--white-color);

  font-size: 16px;

  padding: 10px 20px;

  margin-top: -7px;

  background: var(--blue2);

  transition: box-shadow 0.25s ease-in-out;
}

.header .header_tit a:hover {
  box-shadow: 0 0 0 5px rgba(75, 154, 191, 0.9) inset,
    0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

/* header icon */
.header .header_icon {
  text-align: center;

  padding-bottom: 45px;

  margin-top: 40px;
}

.header .header_icon li {
  display: inline;

  margin: 0px 2px;
}

.header .header_icon li a {
  display: inline-block;

  position: relative;

  transition: all 0.3s ease;

  width: 60px;
  height: 60px;

  color: var(--white-color);

  font-size: 35px;

  line-height: 60px;

  border-radius: 50%;

  background: var(--blue4);
}

.header .header_icon li a span {
  opacity: 0;

  position: absolute;

  transition: all 0.3s ease;

  top: -40px;
  left: 50%;

  transform: translateX(-50%);

  font-size: 12px;

  line-height: 1.6;

  padding: 3px 9px;

  border-radius: 6px 0;

  background: var(--blue4);
}

.header .header_icon li a span::before {
  content: "";

  position: absolute;

  left: 50%;
  bottom: -5px;

  margin-left: -5px;

  border-top: 5px solid var(--blue4);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.header .header_icon li a:hover {
  box-shadow: 0 0 0 3px rgba(75, 154, 191, 0.9) inset,
    0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

.header .header_icon li a:hover span {
  opacity: 1;

  top: -33px;
}

/* nav */
.nav {
  overflow: hidden;

  display: none;

  padding: 25px 0px;
}

.nav > div {
  float: left;

  width: 40%;
}

.nav > div:last-child {
  width: 20%;
}

.nav > div h3 {
  font-size: 18px;

  color: var(--blue5);
  font-weight: bold;

  margin-bottom: 4px;
}

.nav > div ol {
  overflow: hidden;
}

.nav > div li {
  float: left;

  width: 50%;

  position: relative;

  padding-left: 8px;

  box-sizing: border-box;
}

.nav > div li::before {
  content: "";

  width: 3px;
  height: 3px;

  background: var(--blue5);

  border-radius: 50%;

  position: absolute;

  top: 8px;
  left: 0;
}

.nav > div li a {
  position: relative;
}

.nav > div li a:after {
  content: "";

  display: inline-block;

  width: 0;
  height: 1px;

  position: absolute;

  left: 0;
  bottom: 0;

  background: var(--blue6);

  transition: all 0.2s ease-out;
}

.nav > div li:hover a::after {
  width: 100%;
}

.nav > div:last-child li {
  width: 100%;
}

/* title */
.title {
  position: relative;

  text-align: center;
}

.title h2 {
  color: var(--blue7);
  font-size: 39px;

  padding: 5px;
}

.title .btn {
  position: absolute;

  width: 60px;
  height: 60px;

  top: 5px;
  right: 0;

  color: var(--white-color);
  font-size: 35px;

  line-height: 60px;

  border-radius: 50%;

  background: var(--blue8);

  transition: all 0.3s ease;
}

.title .btn:hover {
  box-shadow: 0 0 0 3px rgba(75, 154, 191, 0.9) inset,
    0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}
