@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}

body {
  text-transform: uppercase;

  text-align: center;

  background: #e3f2fd;
}

#wrap {
  width: 1200px;

  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100px;

  background: #81d4fa;
}

.aside {
  float: left;

  width: 360px;
  height: 900px;

  background: #4fc3f7;
}

.article1 {
  float: left;

  width: 840px;
  height: 300px;

  background: #29b6f6;
}

.article2 {
  float: left;

  width: 840px;
  height: 300px;

  background: #03a9f4;
}

.article3 {
  float: left;

  width: 840px;
  height: 300px;

  background: #039be5;
}

.footer {
  clear: both;

  width: 100%;
  height: 100px;

  background: #0288d1;
}
