@charset "utf-8";

body {
  background: #c8e6c9;

  color: var(--black-color);
}

#wrap {
  width: 1000px;

  margin: 0 auto;
}

header {
  width: 1000px;
  height: 100px;

  background: #2e7d32;
}

nav {
  width: 1000px;
  height: 100px;

  background: #388e3c;
}

aside {
  width: 300px;
  height: 600px;

  background: #43a047;

  float: left;
}

section {
  width: 700px;
  height: 600px;

  background: #4caf50;

  float: left;
}

footer {
  width: 1000px;
  height: 100px;

  background: #66bb6a;

  clear: both;
}
